{% extends "base.html" %}
{% block title %}
    Lists Page
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">
                <button id="go" class="btn btn-success">Go!</button>
            </div>
        </div>

        <div class="row mt-5 text-center">
            <div class="col-4 mx-auto">
                Left List

                <ul id="left-list">

                </ul>
            </div>
            <div class="col-4 mx-auto">
                Right List

                <ul id="right-list">
                    
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let lists_url = "{{ url_for('lists') }}"
    </script>
    <script defer src="{{ url_for('static', filename='lists.js') }}"></script>
{% endblock %}